
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: palegreen;
    background-image:url("Reg-robot.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dashboard-bg {
     min-height: 100vh;
    
}
.navbar {
    background-color: rgb(6, 0, 0);
    color: white;
    padding: 15px;
    font-size: 20px;
}

.card {
    width: 320px;
    background: white;
    padding: 25px;
    margin: 80px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid rgb(69, 54, 54);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}


.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color:wheat;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    display: block;
    margin-bottom: 12px;
    text-decoration: solid;
    color: black;
}


.content {
    padding: 20px;
    flex: 1;
}


.box {
    background: rgb(11, 10, 10);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 15px;
}

